* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0 auto;
}
body {
    background-color: white;
  
}
.container {
    margin-top: 100px;
   width: 420px;
}

.button-row button
{
    width: 50px;
    height: 30px;
    padding: 3px;
    margin: 2px;
    color:rgb(54, 54, 54);
    background-color: white;
    border: 1px solid black;
}
#enterButton
{
    width: 108px;
}
.calciDisplay
{
    height: 30px;
    border: 1px solid rgb(88, 88, 88);
    width: 340px;
    margin-left: 3px;
    margin-bottom: 5px;
    background-color: white
}
.calc-frame h3
{
    padding-bottom: 20px!important;
    font-size: 15px;
    margin-left: 95px;
    color: rgb(88, 88, 88);
    text-decoration: underline;
}
::placeholder
{
 font-size: 10px;   
}