* {
  margin: 0 auto;
  padding: 0 auto;
}
body {
  display: block;
  background-color: rgb(245, 243, 243);
}
.wrapper {
  width: 1100px;
}
.all-buttons-1 ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.all-buttons-1 i {
  padding-right: 8px;
  background-color: transparent;
}

.all-buttons-1 {
  display: block;
  color: rebeccapurple;
  font-family: sans-serif;
  font-size: 16px;

  font-weight: normal;
  text-decoration: none;
  text-align: center;
}
.all-buttons-1 button:hover {
  background-color: white;
  border: 1px solid white;
  transition: 0.5s ease-in-out;
}

.all-buttons-1 button {
  background-color: #2cc185;
  padding: 25px 50px;
  border-radius: 5px;
  border: 1px solid transparent;
  clip-path: polygon(0 0, 75% 0%, 100% 100%, 0% 100%);
}

.all-buttons-1 {
  padding-top: 80px;
}
.active {
  background-color: white !important;
}
.whole-text {
  text-align: center;
  padding-top: 85px;
  background-color: rgb(255, 254, 254);
  width: 85%;
  height: 300px;
}

.display-text {
  color: gray;
  background-color: white;
  opacity: 0.5;
  font-size: 75px;
  width: 90%;
}

.display-text {
  display: none;
}
.show {
  display: block;
}

/* this is the css of TASK-2 (B) */


  
 
  
  .all-buttons {
    margin-top: 50px;
  }
  
  .all-buttons button {
    background-color: #346866;
    border: 1px solid black;
    color: white;
    padding: 22px 16px;
    float: left;
    width: 100%;
    text-align: left;
  }
  .description {
    /* display: none; */
    background-color: #b9ffb7;
    transition: max-height 0.2s ease-out;
  }
  
  .hide {
    display: none;
  }
  
  .tablniks i {
    float: right;
  }
  
  .tablinks i {
    float: right;
  }
  
  /* 
  .tablinks:after {
      content: '\002B';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }
    .main-item.active .tablinks:after {
      content: "\2212";
    } */
  