* {
  margin: 0 auto;
  padding: 0 auto;
}
.container {
  width: 400px;
}
.heading h4 {
  border: 1px solid #a87f32;
  color: #a87f32;
  margin-top: 50px;
}
#leftArrow i {
  float: left;
}
#rightArrow i {
  float: right;
}
.cardHolder {
  margin-left: 135px;
  color: white;
}
.displayDates {
  padding-bottom: 5px;
  background-color: #a87f32;
  margin-top: 10px;
  padding-top: 5px;
}
.heading {
  text-align: center;
  color: white;
}
.tableDays th {
  padding-left: 15px;
}
table th {
  padding: 10px 14px;
}

table td {
  border: 1px solid rgb(128, 128, 128);

  padding-left: 19px;
}

table td:hover {
  background-color: #a87f32;
  opacity: 0.9;
}
.active {
  background-color: #a87f32;
}
.enteredDate {
  background-color: #a87f32;
}
#todayButton {
  width: 83px;
  margin-left: 4px;
  border: none;
  height: 22px;
  border: 1px solid #a87f32;
  background-color: transparent;
}
#totalMonths {
  width: 95px;
  margin-left: 4px;
  height: 22px;
  border: 1px solid #a87f32;
  background-color: transparent;
}
#totalYears {
  width: 63px;
  margin-left: 4px;
  height: 22px;
  border: 1px solid #a87f32;
  background-color: transparent;
}
#totalDates {
  width: 40px;
  margin-left: 4px;
  height: 22px;
  border: 1px solid #a87f32;
  background-color: transparent;
}
#findDate {
  width: 83px;
  margin-left: 4px;
  height: 22px;
  border: 1px solid #a87f32;
  background-color: transparent;
  /* background-color: #A87F32; */
}
.active {
  background-color: #a87f32;
}

.finders {
  margin-top: 15px;
}
#leftArrow {
  color: white;
}
.displayDates i {
  font-size: 15px;
}
