* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
  }
  
  ul,
  li {
    margin: 0px;
    padding: 0px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
    padding: 0px;
  }
  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  
  .container {
    max-width: 1400px;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
  }
  .slider h2{
      text-align: center;
      font-size: 40px;

  }
  
  .clear:after {
    content: "";
    display: block;
    clear: both;
  }
  
  a {
    color: #017dfb;
    text-decoration: none;
  }
  
  /* Slider  */

  .slider h2 {
    position: absolute;
    font-size: 60px;
    color: white;
    margin: 25px;
}
  
  .slider {
    padding-top: 80px;
  }
  
  #prev,
  #next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    font-size: 30px;
    color: white;
    transition: 0.4s ease;
    user-select: none;
  }
  
  #next {
    right: 15px;
  }
  #prev {
    left: 15px;
  }
  #prev:hover,
  #next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .slider-images {
    display: none;
  }
  .active {
    display: block;
  }
  
  .slider-images img {
    height: 600px;
    border-radius: 20px;
    width: 100%;
  }
  .slider-images {
    transition: 0.5s ease-in-out;
  }
  
  .dot {
    padding: 10px;
    width: 10px;
    margin: 10px;
    background-color: rgba(34, 25, 25, 0.76);
    top: 0;
    text-decoration: none;
    border-radius: 50%;
    border: none;
    display: inline;
    cursor: pointer;
  }
  .dots {
    text-align: center;
  }
  
  .onOff-buttons {
    text-align: center;
    padding-top: 20px;
  }
  
  .onOff-buttons button {
    width:150px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
  }
  
  
  .show,
  .dot:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.4s ease-in;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  